body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: calc(100vh - 4rem); /* Adjust 4rem as per your header height */
  margin-left: 16rem; /* Adjust as per your left sidebar width */
  margin-right: 16rem; /* Adjust as per your right sidebar width */
}

@media (max-width: 767px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
  }
}
