@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: calc(100vh - 4rem); /* Adjust 4rem as per your header height */
}

/* Responsive Styles */
@media (max-width: 767px) {
  aside.md\:block {
    display: none;
  }
  aside.md\:hidden {
    display: block;
  }
}